.entregas__titulo{
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    background-color: $colorprincipal;
    margin-bottom: 30px;
    font-family: $fuentetitulos;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 38px -7px rgba(0,0,0,0.75);
}
.contenedor__entregas{
    border: 2px black solid;
    margin-top: 20px;
    text-align: center;
    background-color: $colorprincipal;
    &-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:1.8rem;
        font-family: 'Varela Round', sans-serif
        }
        &-mapa{
            border: 6px solid black;
            margin-top: 10px;
            height: 100%;
        }
    }
.contenedor__entregas-texto h3{
    font-size: 3rem;
    font-family: $fuentetitulos;
    text-decoration: underline;
    margin-bottom: 10px;
}
